.tags-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tags-input > .tags {
    flex: 1;
}

.tags-input > .tags > span {
    margin: 2px;
}

.tags-input > .input {
    min-width: 100px;
}

.badge {
    border-radius: .25rem;
}

.badge.deletable {
    cursor: pointer;
}

.badge.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge > .badge-remove {
    margin-left: 8px;
}
