body.darkmode {
    background: #111;
    color: #eee;
}


/* HEADER ELEMENTS */

body.darkmode .navbar-default {
    color: #ccc;
    background-color: #333;
    border-color: #222;
}

body.darkmode .navbar-default .navbar-nav>li>a:focus,
body.darkmode .navbar-default .navbar-nav>li>a:hover {
    color: #888;
}

body.darkmode .navbar-default .navbar-nav>li>a {
    color: #ccc;
}

body.darkmode .navbar-default .navbar-toggle:focus,
body.darkmode .navbar-default .navbar-toggle:hover {
    background-color: #555;
}


/* GLOBAL ELEMENTS */

body.darkmode .btn-default {
    color: #ccc;
    background-color: #333;
    border-color: #222;
}

body.darkmode .btn-default.focus,
body.darkmode .btn-default:focus,
body.darkmode .btn-default.active.focus,
body.darkmode .btn-default.active:focus,
body.darkmode .btn-default.active:hover,
body.darkmode .btn-default:active.focus,
body.darkmode .btn-default:active:focus,
body.darkmode .btn-default:active:hover,
body.darkmode .open>.dropdown-toggle.btn-default.focus,
body.darkmode .open>.dropdown-toggle.btn-default:focus,
body.darkmode .open>.dropdown-toggle.btn-default:hover {
    color: #ccc !important;
    background-color: #555 !important;
    border-color: #222 !important;
}

body.darkmode .btn-default.active, .btn-default:active,
body.darkmode .open>.dropdown-toggle.btn-default {
    color: #ccc !important;
    background-color: #555 !important;
    border-color: #222 !important;
}

body.darkmode .btn-default:hover {
    color: #ccc !important;
    background-color: #555 !important;
    border-color: #222 !important;
}

body.darkmode .modal-content {
    background-color: #333;
    border-color: #222;
}

body.darkmode .dropdown-menu {
    background-color: #333;
}

body.darkmode .well {
    background: #222;
    border-color: #555;
}

body.darkmode hr {
    border-color: #555;
}

body.darkmode .dropdown-menu>li>a {
    color: #eee;
}

body.darkmode input {
    background-color: #777;
    color: #fff;
}

body.darkmode ::placeholder {
    color: #cecece;
    opacity: 1;
}

body.darkmode .input-group-addon {
    background: #555;
    color: #eee;
    border-color: #777;
}

body.darkmode .form-control {
    background-color: #777;
    color: #fff;
    border-color: #777;
}

body.darkmode .form-control[disabled],
body.darkmode .form-control[readonly] {
    background-color: #111;
    cursor: not-allowed;
}



/* SEARCHBAR ELEMENTS */

body.darkmode .searchbar-list.active {
    background-color: #333 !important;
    border-color: #777;
}

body.darkmode .searchbar-list button.list-item {
    color: #ccc !important;
    background-color: #555 !important;
    border-color: #222 !important;
}

body.darkmode .searchbar-list button.list-item:hover {
    color: #000 !important;
}

body.darkmode .searchbar-list button.list-item.active {
    background-color: #777 !important;
}


/* CHAT ELEMENTS */

body.darkmode #footer-chat-container .searchbar-container {
    color: #ccc;
    background-color: #333 !important;
    border-color: #222 !important;
}

body.darkmode #footer-chat-container .one-chat-container {
    color: #ccc !important;
    background-color: #333 !important;
    border-color: #222 !important;
}

body.darkmode #footer-chat-container .one-chat-container > .one-chat-window {
    color: #ccc !important;
    background-color: #333 !important;
    border-color: #222 !important;
}

body.darkmode .contact {
    border-bottom: 1px solid #222 !important;
}

body.darkmode .message-input-container {
    border-top: 1px solid #222 !important;
}

body.darkmode .one-message.from-partner > .one-message-container {
    background: #555 !important;
}

body.darkmode .message-input > input.message {
    background-color: #111;
}

body.darkmode #footer-chat-container .message-input > input.message {
    background-color: #333;
}

body.darkmode #contacts-container {
    border-color: #555 !important;
}

body.darkmode .searchbar-container {
    background-color: #111 !important;
}

body.darkmode .one-contact.selected {
    background-color: #555 !important;
}

body.darkmode .emoji-mart,
body.darkmode .emoji-mart-category-label span {
    background: #333 !important;
    color: #eee !important;
}

body.darkmode .dropdown-menu>li>a:focus,
body.darkmode .dropdown-menu>li>a:hover {
    background-color: #777 !important;
}



/* SPECIFIC ELEMENTS */

body.darkmode .matching-profiles .one-profile {
    border: 1px solid #333 !important;
}

body.darkmode .dots-icon > .dots-menu {
    color: #ccc !important;
    background-color: #333 !important;
    border-color: #222 !important;
}

body.darkmode #matching .matching-filters {
    background-color: #333 !important;
}

body.darkmode #matching .matching-filters > button {
    background-color: #444 !important;
}

body.darkmode #history .history-item,
body.darkmode #notifications-center .notif-item {
    background-color: #333 !important;
}

body.darkmode .account-block {
    border-color: #777 !important;
}

body.darkmode .form-section {
    border-color: #777 !important;
}

body.darkmode .progress-circle.small > .progress-circle-bar {
    border-color: #4b94bf;
}

body.darkmode .sign-suggests > * {
    background: #333 !important;
}