{% extends "templates/base.twig" %}

{% block content %}
    <i class="fa fa-home" style="margin: 25px !important;"></i>
{% endblock %}

{% block body %}
    <h1>
        {{ message }}
    </h1>
{% endblock %}