{% extends "templates/base.twig" %}

{% block content %}

    <i id="test"></i>
    <h1>
        {{ message }}
    </h1>

    <script>
//        $('test').addClass('fa fa-home');
    </script>

{% endblock %}