
body {
    padding-top: 50px;
}

/* ERROR */

.error-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

#error-img {
    max-width: 50%;
    float: right;
}