<html>

    <head>

        {# INCLUDE HERE CSS LIBRARY #}
        <link rel="stylesheet" href="public/css/font-awesome/css/font-awesome.min.css">

        {# INCLUDE HERE OWN CSS #}
        <link rel="stylesheet" href="public/css/main.css">



        {# INCLUDE HERE JS LIBRARY #}
        {# INCLUDE HERE OWN JS LIBRARY #}

    <head>

    {# INCLUDE HERE LAYOUT #}


    <div style="background-color: blue; padding: 20px;" >
        {% block body %}
        {% endblock %}
    </div>

    <div style="background-color: red; padding: 20px;" >
        {% block content %}
        {% endblock %}
    </div>


</html>