.one-notif {
    display: flex;
    width: 100%;
}

.one-notif.unread {
    font-weight: bold;
}

.one-notif.unlinkable {
    cursor: initial;
}

.one-notif > .one-notif-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.one-notif > .one-notif-info .one-notif-date {
    color: #aaa;
}

#notifications-center {
    height: 100%;
    padding-top: 15px;
}

#notifications-center > .list {
    max-width: 300px;
    margin: auto;
    overflow: auto;
    height: 100%;
}

#notifications-center .notif-item {
    padding: 5px 10px;
    margin: 10px;
    display: flex;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #ecf0f5;
}
