#matching {
    height: 100%;
}

#matching .matching-sorting {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#matching .sorting-dropdown .caret {
    display: none;
}

#matching .sorting-dropdown .dropdown-menu {
    right: 0;
    left: auto;
}

#matching .matching-filters {
    background: #fff;
    position: absolute;
    left: 0px;
    top: 60px;
    width: 300px;
    z-index: 5;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #cecece;
    padding: 20px 30px 20px 25px;
    margin-bottom: 50px;
}

#matching .matching-filters > * {
    margin-bottom: 40px;
}

#matching .matching-filters > button {
    margin-bottom: 0px !important;
    margin-top: 60px;
}

.matching-profiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    position: relative;
    width: 100%;
}

#matching .matching-profiles > .fas {
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}

.matching-profiles .one-profile {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.one-profile > h1 {
    float: left;
    margin: 10px;
}

.one-profile > span {
    float: right;
    margin: 20px 10px 5px 5px;
    font-size: 20px;
}

.matching-profiles .one-profile > .profile-pic {
    height: 250px;
    width: 250px;
}

.matching-profiles .one-profile > .profile-pic > img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

#extended-profile {
    display: flex;
    justify-content: space-between;
}

#extended-profile .close-extended-profile {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#extended-profile > .profile-info {
    width: 50%;
    padding: 20px 20px 0px 20px;
}

#extended-profile > .profile-info .profile-infos-display {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#extended-profile > .profile-info  .profile-identity {
    font-size: 30px;
}

#extended-profile > .profile-info  .profile-identity > span {
    font-size: 25px;
    color: #bfbfbf;
    margin-left: 10px;
}

#extended-profile > .profile-info  .profile-bio {
    font-size: 20px;
    margin-top: 10px;
}

#extended-profile > .profile-info  .profile-pictures {
    display: flex;
}

#extended-profile > .profile-info  .profile-pictures .one-file-view.view-img {
    margin-bottom: 0px;
}

#extended-profile > .profile-pic {
    width: 50%;
    height: 100%;
    min-height: 400px;
    display: flex;
}

#extended-profile > .profile-pic > img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}