
.logo {
    cursor: pointer;
}

.logo img {
    max-height: 200px;
    max-width: 200px;
}

.dropzone.on-drop {
    background: #bfbfbf;
    opacity: 0.3;
}

.file-preview-container {
    position: relative;
}

.file-preview:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.file-preview-container:hover .file-preview:after {
    opacity: 1;
}

.file-preview-container:hover .icon-actions {
    display: inline;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.file-preview-container .icon-actions {
    color: white;
    display: none;
    position: absolute;
    top: 1px;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
}

.file-preview-container .delete-file {
    right: 4px;
}

.file-preview-container .custom-action {
    left: 4px;
}

.one-file-view {
    margin: 3px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 1%;
}

.one-file-view > a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-file-view.view-file, .one-file-view.view-txt {
    font-size: 120px;
    line-height: normal;
}

.one-file-view.view-img {
    height: 200px;
}

.one-file-view > a > img {
    height: 100%;
    max-height: 100%;
}

.one-file-view > a > i.fa-file-pdf {
    max-height: 100%;
}

.pictures-display {
    height: 100%;
    width: 100%;
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9000;
}

.pictures-display > .close-picture-display {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 9001;
    font-size: 20px;
}

.pictures-display > .fas {
    cursor: pointer;
    font-size: 30px;
    padding: 30px;
    position: absolute;
}

.pictures-display > .fas.fa-caret-left {
    left: 0px;
}

.pictures-display > .fas.fa-caret-right {
    right: 0px;
}

.pictures-display > img {
    max-width: 85%;
    max-height: 90%;
    padding: 20px;
    margin: auto;
}