
#account {
    margin-top: 50px;
    padding: 10px;
    width: 80vw;
}

#location {
    padding: 20px;
}

#location .save-user-location{
    margin-top: 20px;
}

#informations textarea {
    resize: vertical;
}

.account-block {
    padding: 20px 40px;
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    margin-bottom: 30px;
}

.profile-picture-preview {
    margin: 15px 0px;
}

.profile-picture-preview > img {
    max-width: 100%;
    max-height: 223px;
}

#user-profile-language > .dropdown.btn-group {
    width: 100%;
}

#user-profile-language > .dropdown.btn-group > #btn-language {
    width: 50%;
}

#user-profile-orientation > .orientation-checkboxes {
    display: flex;
    flex-direction: column;
}

#user-profile-orientation > .orientation-checkboxes > label {
    font-weight: inherit;
}

#user-profile-orientation > .orientation-checkboxes > label > input {
    margin-right: 5px;
}
