
#account {
    margin-top: 15px;
    padding: 0px;
    width: 98vw;
}

@media (min-width: 768px) {
    #account {
        margin-top: 50px !important;
        padding: 10px !important;
        width: 80vw !important;
    }
}

#location {
    padding: 20px;
}

#location .save-user-location {
    margin-top: 20px;
}

#location .disclaimer {
    margin-top: 4px;
    font-size: 12px;
}

#location .disclaimer > i {
    display: block;
}

#informations textarea {
    resize: vertical;
}

.account-block {
    padding: 20px 40px;
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    margin-bottom: 30px;
}


#picture .files-container {
    justify-content: center;
}

#picture .one-profile-picture {
    width: 100%;
    min-height: 50px;
    border: 1px dotted #cecece;
    margin-bottom: 10px;
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture .other-pictures {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#picture .other-pictures > .dropzone.one-profile-picture {
    width: 45% !important;
}

#picture #main-picture .file-preview-container {
    max-width: 100%;
    max-height: 300px;
}

#picture .one-profile-picture .files-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

#picture .one-profile-picture .files-container > div {
    border-radius: 10px;
    overflow: hidden;
    max-height: 100px;
    width: 150px;
    margin-right: 10px;
    margin-top: 5px;
}

#picture .one-profile-picture .files-container > div .file-preview > img {
    max-width: 100%;
    max-height: 100%;
}

#picture i.fas.fa-plus-circle {
    color: #bfbfbf;
    cursor: pointer;
}

#picture i.fas.fa-plus-circle:hover {
    color: #cfcfcf;
}

#picture i.fas.fa-plus-circle > .attach-files {
    display: none;
}



#picture {
    position: relative;
}

#picture .picture-uploading {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: #cecece;
    opacity: 0.8;
}

#picture .profile-picture-preview {
    margin: 15px 0px;
}

#picture .profile-picture-preview > img {
    max-width: 100%;
    max-height: 223px;
}

#user-profile-language > .dropdown.btn-group {
    width: 100%;
}

#user-profile-language > .dropdown.btn-group > #btn-language {
    width: 50%;
}

#user-profile-orientation > .orientation-checkboxes {
    display: flex;
    flex-direction: column;
}

#user-profile-orientation > .orientation-checkboxes > label {
    font-weight: inherit;
}

#user-profile-orientation > .orientation-checkboxes > label > input {
    margin-right: 5px;
}

#search-params > .form-group {
    margin-bottom: 40px;
}
