<!-- views/pages/error.ejs -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body class="container">

        <main class="error-middle">
            <div class="jumbotron">
                <img id="error-img" src="/img/error.png">

                <h1>Oops</h1>
                <p>Something went wrong</p>
            </div>
        </main>

    </body>
</html>