
/* HEADER */

#header {
    height: 50px;
}

#header > .navbar > .container {
    width: auto;
}

#header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] {
    display: block;
}
#header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] i {
    width: 50px;
    padding: 3px 10px;
    text-align: center;
}

#header > .navbar .navbar-collapse .nav-user-account > a > .fa-user {
    display: inline-block;
}

#header > .navbar .navbar-collapse .nav-user-account > a > .user-profile-picture,
#header > .navbar .navbar-collapse .nav-user-account > a > .user-default-icon {
    display: none;
}

#header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] > a .nav-item-name {
    display: inline;
}

#header > .navbar .navbar-collapse .navbar-nav.navbar-right .vertical-separation {
    display: none !important;
}

#header > .navbar .navbar-collapse .nav-notif {
    display: none !important;
}

@media (min-width: 768px) {
    
    #header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] {
        display: flex;
        width: 45px;
        height: 50px;
    }

    #header > .navbar .navbar-nav.navbar-right li[role="presentation"] > a {
        margin: auto;
        padding: 0px;
        font-size: 25px;
    }

    #header > .navbar > .container .fa-power-off {
        color: red;
        font-size: 15px;
    }

    #header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] > a .nav-item-name {
        display: none;
    }

    #header > .navbar .navbar-collapse .navbar-nav.navbar-right .vertical-separation {
        display: flex !important;
    }

    #header > .navbar .navbar-collapse .nav-user-account > a > .fa-user {
        display: none !important;
    }
    
    #header > .navbar .navbar-collapse .nav-user-account > a > .user-profile-picture,
    #header > .navbar .navbar-collapse .nav-user-account > a > .user-default-icon {
        display: block !important;
    }
    
    #header > .navbar .navbar-collapse .nav-notif-sm {
        display: none !important;
    }

    #header > .navbar .navbar-collapse .nav-notif {
        display: flex !important;
    }

}

i.notifs {
    position: relative;
}

i.notifs > .sup {
    background: #db4c3f;
    position: absolute;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 4px 0px;
    top: 0px;
    right: 3px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.notif-dropdown ul.dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.notif-dropdown ul.dropdown-menu > .dropdown-item {
    display: block;
    border: none;
    margin-left: 0px !important;
    width: 100%;
    text-align: left;
    border-radius: 0px;
}

#notif-dropdown {
    border: none;
    background: inherit;
    color: inherit;
    float: none;
    font-size: inherit;
    padding: inherit;
    box-shadow: none !important;
}

#notif-dropdown > .caret {
    display: none;
}

.notif-dropdown .go-to-notif-center {
    border: none;
    color: blue;
    text-align: center;
    width: 100%;
}


/* MAIN */

#main {
    margin-top: 51px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}


/* PROFILE PICTURE */

.user-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.user-profile-picture > img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}