
/* HEADER */

#header {
    height: 50px;
}

#header > .navbar > .container {
    width: auto;
}

#header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] {
    display: block;
}
#header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] i {
    width: 50px;
    padding: 3px 10px;
    text-align: center;
}

#header > .navbar .navbar-collapse .nav-user-account > a > .fa-user {
    display: inline-block;
}

#header > .navbar .navbar-collapse .nav-user-account > a > .user-profile-picture,
#header > .navbar .navbar-collapse .nav-user-account > a > .user-default-icon {
    display: none;
}

#header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] > a > .nav-item-name {
    display: inline;
}

#header > .navbar .navbar-collapse .navbar-nav.navbar-right .vertical-separation {
    display: none !important;
}

@media (min-width: 768px) {
    
    #header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] {
        display: flex;
        width: 45px;
        height: 50px;
    }

    #header > .navbar .navbar-nav.navbar-right li[role="presentation"] > a {
        margin: auto;
        padding: 0px;
        font-size: 25px;
    }

    #header > .navbar > .container .fa-power-off {
        color: red;
        font-size: 15px;
    }

    #header > .navbar .navbar-collapse .navbar-nav.navbar-right li[role="presentation"] > a > .nav-item-name {
        display: none;
    }

    #header > .navbar .navbar-collapse .navbar-nav.navbar-right .vertical-separation {
        display: flex !important;
    }

    #header > .navbar .navbar-collapse .nav-user-account > a > .fa-user {
        display: none !important;
    }

    #header > .navbar .navbar-collapse .nav-user-account > a > .user-profile-picture,
    #header > .navbar .navbar-collapse .nav-user-account > a > .user-default-icon {
        display: block !important;
    }

}





/* MAIN */

#main {
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}


/* PROFILE PICTURE */

.user-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.user-profile-picture > img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}