<div>
    <div style="
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 20px;
        background-color: #eee;
        color: #5f6368;
    ">

        <div style="border-bottom: 1px solid #cecece; margin: 0px 40px 25px 40px;">
            <h1><%= trans.get('GLOBAL.NAME') %></h1>
        </div>

